:root {
    --clr-accent-900: hsl(218, 44%, 22%);
    --clr-accent-600: hsl(220, 15%, 55%);
    
    --clr-neutral-200: hsl(212, 45%, 89%);
    --clr-neutral: hsl(0, 0%, 100%);

    --ff-primary: 'Outfit', sans-serif;

    --fw-light: 400;
    --fw-bold: 700;
}



/* Reseting default values */


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Time to style */

body {
    display: grid;
    place-content: center;
    background: var(--clr-neutral-200);
    min-height: 100dvh;
}

.card {
    text-align: center;
    background: var(--clr-neutral);
    max-width: 16rem;
    border-radius: 15px;
    padding: 0.8125rem 0.8125rem 2rem;
}

img {
    max-width: 100%;
    border-radius: 9px;
}

h2 {
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: 1.15rem;
    color: var(--clr-accent-900);
    margin-block: 1rem 0.75rem;
}

p {
    font-family: var(--ff-primary);
    font-weight: var(--fw-light);
    color: var(--clr-accent-600);
    font-size: 13px;
    letter-spacing: 2;
}
